<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Basket_Buddy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>com.sayali.basketbuddy.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Advertiser_login</display-name>
    <servlet-name>Advertiser_login</servlet-name>
    <servlet-class>com.sayali.basketbuddy.Advertiser_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Advertiser_login</servlet-name>
    <url-pattern>/Advertiser_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_register</display-name>
    <servlet-name>admin_register</servlet-name>
    <servlet-class>com.sayali.basketbuddy.admin_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_register</servlet-name>
    <url-pattern>/admin_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advertiser_register</display-name>
    <servlet-name>advertiser_register</servlet-name>
    <servlet-class>com.sayali.basketbuddy.advertiser_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advertiser_register</servlet-name>
    <url-pattern>/advertiser_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>com.sayali.basketbuddy.User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_register</display-name>
    <servlet-name>user_register</servlet-name>
    <servlet-class>com.sayali.basketbuddy.user_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_register</servlet-name>
    <url-pattern>/user_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload_image</display-name>
    <servlet-name>Upload_image</servlet-name>
    <servlet-class>com.sayali.basketbuddy.Upload_image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload_image</servlet-name>
    <url-pattern>/Upload_image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.sayali.basketbuddy.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
</web-app>